// Radio Button Wrappers

@import 'mixins.scss';
@import 'variables.scss';

.container__input {
  @include space-around;
}

.container__radio {
  position: relative;
  padding-bottom: 2rem;
}


// 1. Hide the browsers default radio button
.container__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

// 2. Create the custom radio button styling the span in the container
.checkmark {
  position: absolute;
}

.checkmark__colours {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.checkmark__nose {
  width: 40px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightblue;
  margin-bottom: 1rem;
}

// 3. Styled effect for when the radio is selected/checked
.container__radio input:checked ~ .checkmark {
  border: 2px solid #1976D2;
}






// Colours for Radio Buttons

#radio__colour--blue {
  background-color: lightskyblue;
}

#radio__colour--green {
  background-color: lightgreen;
}

#radio__colour--chuckNorris {
  background-color: $chuckNorris;
}

#radio__colour--yellow {
  background-color:yellow;
}