
.landingLogo {
    background-image: url("/images/backgroundlandingimg.png");
    width: 100vw;
    height: 100vh;
    background-size:cover;
    display: flex;
    justify-content: center;
}

  
  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    color: black;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

//_____________________________________________________==

  // storyline typewritter effect

@keyframes typing {
  from { width: 100% }
  to { width: 0 }
  
}

.landing-storyline-div {
  position: relative;
  font-family: Consolas, monospace; 
}

.landing-storyline-para {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;
  color: black
}

.landing-storyline-hiders{
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.landing-storyline-hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right;
  width:0; 
  background: black; 
  animation: typing 2s steps(30, end);
  animation-fill-mode: both;  
}

.landing-storyline-hiders p:nth-child(2) {
  animation-delay: 2s;
}
.landing-storyline-hiders p:nth-child(3) {
  animation-delay: 4s;
}
.landing-storyline-hiders p:nth-child(4) {
  animation-delay: 6s;
}
.landing-storyline-hiders p:nth-child(5) {
  animation-delay: 8s;
}