@import 'variables.scss';

.rocket-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-wrapper {
  height: 75%;
  width: 50%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.rocket {
  background-color: $spaceGrey;
}
