@import 'variables.scss';


.rocket-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-wrapper {
  height: 75%;
  width: 50%;
  min-width: 600px;
  margin-left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.JvBot {
  // bottom: 0;
  // right: 0;
  top: 10;
  left: 0;

}

.typewriter{
  border-right: .15em solid $accentOrange;
  overflow: hidden;
  letter-spacing: .15em;
  white-space: nowrap;
  animation:
    typing 5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent}
  50% { border-color: $accentOrange }
}