// Colour States 
$chuckNorris: #C00000;

// Colour for Code Text Div
$codeContainer: #464646;

$spaceGrey: #414a4c;

// Light Theme

// Dark Theme
$primaryPurple: #151521;
$primaryOrange: #f89553;
$accentOrange: #ff6600;
$slateGrey: #342f31;
$primaryBlack: #0e1111;

