@import 'accordion';
@import 'buttons';
@import 'global';
@import 'media-queries';
@import 'mixins';
@import 'rocket';
@import 'typography.scss';
@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(148, 148, 148);
}


