@import 'accordion';
@import 'buttons';
@import 'design';
@import 'global';
@import 'landingpage';
@import 'media-queries';
@import 'mixins';
@import 'rocket';
@import 'typography';
@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-image: url('/images/rocket-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h3 {
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3.5s linear infinite;
  animation-iteration-count: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


