* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#app {
  min-width: 100vw;
}

.rocket {
  min-height: 100vh;
  background-color: lightseagreen;
  display: flex;
  flex-wrap: wrap;
}

.rocket-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rocket-wrapper {
  height: 75%;
  width: 50%;
}




/* ---------------- 
GLOBAL 
---------------- */

.col {
  width: 50%;
}

.b {
  border: 1px solid red;
}

.third {
  height: 33%;
}

/* ---------------- 
Media Queries
---------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .col {
   width: 100%;
 }
} 

