@import url(https://fonts.googleapis.com/css?family=Play&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400&display=swap);
.container__top {
  margin-top: 1rem; }

.container__input {
  margin-top: .3rem; }

.container__input--text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
  margin-top: 1em;
  text-align: center; }

.container__text--code {
  border: 1px solid #464646;
  max-height: 10rem;
  padding: 1em 0em 1em 0em;
  margin-top: 1.5rem;
  overflow-y: scroll; }

.details-panel {
  width: 80%; }

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 3rem; }

.accordion__item {
  font-family: 'Play', sans-serif; }

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.accordion__button {
  background-color: #e0fbff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58); }

.accordion__button:hover {
  background-color: #ddd; }

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg); }

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg); }

.accordion__panel {
  padding: 20px;
  animation: fadein 0.5s ease-in;
  background: rgba(0, 0, 0, 0.6); }

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container__input {
  display: flex;
  justify-content: space-around; }

.container__radio {
  position: relative;
  padding-bottom: 2rem; }

.container__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute; }

.checkmark__colours {
  width: 25px;
  left: -10px;
  height: 25px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55); }

.checkmark__shape {
  left: -40px;
  width: 5.3em;
  height: 2.5em;
  border-radius: 5px;
  margin-bottom: 1rem;
  background: grey;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55); }

.checkmark__shape:hover {
  background-color: #f89553; }

.checkmark__shape:hover .checkmark__shape--text {
  color: #101010; }

.checkmark__label {
  text-align: center;
  width: 5.3em;
  height: 2.5em;
  color: white; }

.container__radio input:checked ~ .checkmark {
  border: 2.2px solid #ff6600; }

span {
  display: flex;
  align-items: center;
  justify-content: center; }

#radio__colour--blue {
  background-color: lightskyblue; }

#radio__colour--green {
  background-color: lightgreen; }

#radio__colour--chuckNorris {
  background-color: #C00000; }

#radio__colour--yellow {
  background-color: yellow; }

.design {
  background-color: rgba(59, 59, 60, 0.71);
  min-height: 100vh;
  display: flex;
  justify-content: center; }

.container__column {
  display: flex;
  flex-direction: column; }

.col {
  width: 50%; }

.b {
  border: 1px dashed lightcoral; }

.margin__left {
  margin-left: 1em; }

.padding__xs--left {
  padding-left: 15px; }

.landingLogo {
  background-image: url("/images/backgroundlandingimg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center; }

.css-typing {
  position: absolute;
  top: 40vh;
  width: 500px;
  left: 130px; }

.css-typing p {
  color: white;
  font-family: "Courier";
  font-size: 16px;
  width: 40em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end); }

.css-typing p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 6.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(6) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 8.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(7) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(8) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 11.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(9) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 13s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(10) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 14.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(11) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 16s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(12) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 17.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.css-typing p:nth-child(13) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 19s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes type {
  from {
    width: 0; } }

@-webkit-keyframes type {
  from {
    width: 0; } }

span {
  animation: blink 1s infinite; }

@keyframes type2 {
  0% {
    width: 0; }
  from {
    opacity: 0; }
  1% {
    opacity: 1; }
  to {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes type2 {
  0% {
    width: 0; }
  from {
    opacity: 0; }
  1% {
    opacity: 1; }
  to {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes type3 {
  0% {
    width: 0; }
  from {
    opacity: 0; }
  1% {
    opacity: 1; }
  to {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes type3 {
  0% {
    width: 0; }
  from {
    opacity: 0; }
  1% {
    opacity: 1; }
  to {
    opacity: 1; }
  100% {
    opacity: 1; } }

.button {
  background-color: white;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col {
    width: 100%; }
  .container__input--text {
    display: none; } }

.rocket-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; }

.rocket__container {
  min-width: 300px;
  display: flex; }

.robot__container {
  height: auto;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0; }

.robot__error {
  width: 60%; }

.robot-img {
  width: 15rem;
  height: 15rem; }

.speechBubble {
  position: absolute;
  bottom: 0;
  margin-left: .5rem;
  margin-bottom: 2rem; }

.speechBubble__text {
  width: 275px;
  position: absolute;
  bottom: 0;
  margin-bottom: 5rem;
  margin-left: 5rem; }

h3 {
  padding: 1.3rem;
  margin: 2rem;
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58); }

h3 {
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3.5s linear infinite;
  animation-iteration-count: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); }

@keyframes animate {
  0% {
    background-position: -500%; }
  100% {
    background-position: 500%; } }

a,
p, label {
  font-family: 'Play', sans-serif; }

p {
  font-family: 'Play', sans-serif;
  color: whitesmoke; }

span p {
  font-size: .8rem;
  text-align: center; }

.robot__error p {
  font-family: 'Courier'; }

.container__text--code p {
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#app {
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-image: url("/images/rocket-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

::-webkit-scrollbar {
  display: none; }


/*# sourceMappingURL=style.css.map*/