@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Play&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400&display=swap);
.container__top {
  margin-top: 1rem; }

.container__input {
  margin-top: .3rem; }

.container__input--text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
  margin-top: 1em;
  text-align: center; }

.container__text--code {
  border: 1px solid #464646;
  height: auto;
  padding: 1em 0em 1em 0em; }

.details-panel {
  width: 80%; }

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 3rem; }

.accordion__item {
  font-family: 'Play', sans-serif; }

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.accordion__button {
  background-color: #f4f4f4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58); }

.accordion__button:hover {
  background-color: #ddd; }

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg); }

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg); }

.accordion__panel {
  padding: 20px;
  animation: fadein 0.5s ease-in;
  background: rgba(16, 16, 46, 0.5); }

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container__input {
  display: flex;
  justify-content: space-around; }

.container__radio {
  position: relative;
  padding-bottom: 2rem; }

.container__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute; }

.checkmark__colours {
  width: 25px;
  left: -10px;
  height: 25px;
  border-radius: 5px;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55); }

.checkmark__shape {
  left: -40px;
  width: 5.3em;
  height: 2.5em;
  border-radius: 5px;
  margin-bottom: 1rem;
  background: grey;
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.55); }

.container__radio input:checked ~ .checkmark {
  border: 2.2px solid #ff6600; }

#radio__colour--blue {
  background-color: lightskyblue; }

#radio__colour--green {
  background-color: lightgreen; }

#radio__colour--chuckNorris {
  background-color: #C00000; }

#radio__colour--yellow {
  background-color: yellow; }

.design {
  background-color: rgba(29, 29, 35, 0.9);
  display: flex;
  justify-content: center; }

.container__column {
  display: flex;
  flex-direction: column; }

.col {
  width: 50%; }

.b {
  border: 1px dashed lightcoral; }

.margin__left {
  margin-left: 1em; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col {
    width: 100%; } }

.rocket-panel {
  display: flex;
  align-items: center;
  justify-content: center; }

.rocket-wrapper {
  height: 75%;
  width: 50%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

h3 {
  padding: 1.3rem;
  margin: 2rem;
  text-align: center;
  font-size: 1.75rem;
  color: #f89553;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.58); }

a,
p, label {
  font-family: 'Play', sans-serif; }

p {
  font-family: 'Play', sans-serif;
  color: whitesmoke; }

.container__text--code p {
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.padding__xs--left {
  padding-left: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-image: url("/images/rocket-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }


/*# sourceMappingURL=style.css.map*/